---
layout: default
---
{% include hero.html %}
<h4 class="lates-title">
  <div style="padding: 0.3em; background-color: #FFDF00; display: inline-block; border-radius: 4px; font-size: 1.2em;">
    <a href="data/nana_cv.pdf" target='_blank' style='text-decoration: none;'>
      <i style='color: black' class="fa fa-download"></i>
    </a>
    <a href="data/nana_cv.pdf" target='_blank' style='color: black; text-decoration: none;'>CV</a>
  </div>
</h4>

<div class="container">
  <div class="row">
    <div class="col col-12 col-t-12 last-item">
      {% include resume.md%}
    </div>
  </div>
</div>